    

         .navbar-inverse{
           padding: 0px;
          margin: 0px;
           opacity: .9;

         }
       .navbar-default{
          
          padding: 0px;
          margin: 0px;
          opacity: .7;
       }
      .footer{
        background: purple;
        opacity: .3;
        
      }
      
      .footer h1{

         color:#dddddd;
      }

      iframe{
         width: 100%;
         height: 200%;
         border: 0px;
         margin: 0px;

      }
      
